<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="Xb2ConnStr" providerName="MySQL Data Provider" connectionString="server=localhost;User Id=root;password=root;Database=xb"/>
  </connectionStrings>

  <appSettings>
    <!--分幅图管理中Chart控件本身的宽度-->
    <add key="DISP_CHART_WIDTH" value="500"/>
    <!--分幅图管理中ChartArea的高度-->
    <add key="DISP_CHART_AREA_HEIGHT" value="200"/>
    <!--分幅图管理中ChartArea的起始Y坐标，该坐标控制了ChartArea相对于Chart的纵向位置-->
    <add key="DISP_CHART_AREA_Y_START" value="5"/>
    <add key="DISP_CHART_AREA_X_START" value="1"/>
    <!--分幅图管理中ChartArea的宽度比例-->
    <add key="DISP_CHART_AREA_WIDTH_PERCENT" value="90"/>
    
    <!--Chart控件Border的控制-->
    <add key="DISP_CHART_BORDER_WIDTH" value="1"/>
    <add key="DISP_CHART_BORDER_COLOR" value="Black"/>
    <add key="DISP_CHART_BORDER_STYLE" value="Solid"/>

    <!--分幅图管理中各种图的大小-->
    <!--大图的大小-->
    <add key="BIG_SIZE_WIDTH" value="450"/>
    <add key="BIG_SIZE_HEIGHT" value="280"/>
    <!--中等图的大小-->
    <add key="MEDIUM_SIZE_WIDTH" value="300"/>
    <add key="MEDIUM_SIZE_HEIGHT" value="181"/>
    <!--小图的大小-->
    <add key="SMALL_SIZE_WIDTH" value="150"/>
    <add key="SMALL_SIZE_HEIGHT" value="80"/>
  </appSettings>
</configuration>